.fade-down {
  opacity: 0; /* Initially hide element */
  transform: translateY(-30px); /* Move element up */
  transition: opacity 0.6s ease, transform 0.6s ease; /* Smooth transition */
}
.fade-down.aos-animate {
  opacity: 1; /* Show element when animated */
  transform: translateY(0); /* Move element back to its original position */
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  color: #333;
  background-color: #ededf0 !important;
}

/* تخصيص شريط التمرير */
body::-webkit-scrollbar {
    width: 10px !important;
  }

  /* تغيير لون ومظهر المقبض (thumb) */
  body::-webkit-scrollbar-thumb {
    background-color: rgb(5, 175, 5) !important;
    border-radius: 50px !important;
  }

  /* تغيير لون المسار (track) */
  body::-webkit-scrollbar-track {
    background-color: #c9c6c6 !important;
    border-radius: 50px !important;
  }

nav {
  width: 100%;
}

.navbar-brand {
  font-weight: bold;
  color: #006600;
}

.nav-item a {
  font-size: 20px;
}
.nav-item a:hover {
  color: green;
}

.hero-section {
  height: 100vh;
  background-image: url(images/hero2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
}

/* إضافة شفافية باستخدام طبقة */
.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-section h1{
    color: #Fff !important;
  }
  .hero-section p{
    color: #ebe9e9 !important;
  }

.hero-section .container {
  position: relative;
  z-index: 2; /* لجعل المحتوى فوق الطبقة الشفافة */
}

/* على الشاشات الصغيرة */
@media (max-width: 768px) {
  .hero-section::after {
    background-color: rgba(0, 0, 0, 0.3); /* تقليل الشفافية للشاشات الصغيرة */
  }
  .hero-section h1{
    color: #Fff !important;
  }
  .hero-section p{
    color: #ebe9e9 !important;
  }
}

.service:hover {
  background-color: green !important;
  color: black !important;
}

.section-title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #006600;
}

.service-card {
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.contact-form .form-control,
.contact-form button {
  border-radius: 10px;
}

.card-title {
  font-size: 1.5em;
  font-weight: 600;
}

.card-text {
  font-size: 1em;
  font-weight: 500;
}

/* Closed area Cards */
@media (max-width: 768px) {
  #servicesss .d-flex {
    flex-direction: column;
  }

  #servicesss .card {
    margin: 0 auto;
    width: 90%;
  }

  #servicesss .col-md-6 {
    width: 100%;
    margin-top: 20px;
  }

  #servicesss img {
    width: 100%;
    margin-bottom: 20px;
  }

  #servicesss h5 {
    font-size: 1.4em;
  }

  #servicess ul {
    font-size: 1em;
  }
}

@media (max-width: 457px) {
  .info_parent {
    text-align: center;
  }
  .last_picture {
    height: 250px;
  }
}

@media (max-width: 373px) {
  .info {
    font-size: 1.7em !important;
  }
  .info2 {
    font-size: 2em !important;
  }
}

.icon {
  position: fixed;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-decoration: none;
}

.whatsapp-icon {
  bottom: 80px;
  right: 20px;
  background-color: #25d366;
}
.whatsapp-icon:hover {
  background-color: #03dd53 !important;
}

.location-icon {
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
}

.icon img {
  width: 40px;
  height: 40px;
}
/* ///////////////////////////////// */
body {
  background-color: #f9f9f9;
}

.card h5 {
  font-size: 1.25rem;
}

.card p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.ribbon {
  position: absolute;
  top: 10px;
  left: -10px;
  background: #28a745;
  color: #fff;
  padding: 0.25rem 1rem;
  font-weight: bold;
  transform: rotate(-45deg);
}

.text-warning {
  color: #ffc107 !important;
}

.btn-dark {
  background-color: #212529;
  color: #fff;
}

.card {
  position: relative;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

